<div class="w3-responsive w3-card-4">
  <h4 class="w3-theme w3-padding" style="font-weight: bold; background-color:'black';color:white; text-align: center;">
    {{'balance: '+currentAccount.overallBalance}}</h4>
  <table class="w3-table w3-striped w3-bordered">
    <thead>
      <tr class="w3-theme">
        <th>Account</th>
        <th>Amount</th>
        <th>Operation</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.accountNumber}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.date.slice(0,10)+' '+transaction.date.slice(11,16)}}</td>
      </tr>
    </tbody>
  </table>
</div>